@font-face {
    font-family: BakbakOne-Regular;
    src: url(./fonts/BakbakOne-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    background-color: green;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;

}

h1 {
    font-family: BakbakOne-Regular;
    font-size: 90px;
}

nav.menu {
    margin: auto;
    width: 900px;
    min-width: 23rem;
    background-color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
    list-style-type: none;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-family: BakbakOne-Regular;
    font-size: 20px;

}

li a:hover {
    background-color: #111;
    transition: background-color 0.6s ease;
}

.container {
    display: flex;
    justify-content: center;
}

.main {
    background-color: white;
    width: 900px;
    height: 500px;
    min-width: 23rem;
    margin: auto;
    padding: 25px;
    box-shadow: 0 1.25rem 1.75rem rgba(0, 0, 0, .1);
}

.div-item {
    text-align: center;
    display: block;
}

.button {
    font-family: BakbakOne-Regular;
    font-size: 18px;
    height: 35px;
    background-color: lightblue;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
}

.button:hover {
    background-color: lightcyan;
    transition: background-color 0.6s ease;
}

.display-none {
    display: none;
}